<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78134388789-b590t1f2ncb2fj99un6ms2ei5ane2eu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78134388789-b590t1f2ncb2fj99un6ms2ei5ane2eu1</string>
	<key>API_KEY</key>
	<string>AIzaSyAT19tBLj9rJ2RBCiWgsEm9OD7fkOgG5aE</string>
	<key>GCM_SENDER_ID</key>
	<string>78134388789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karlis.WhatsUp</string>
	<key>PROJECT_ID</key>
	<string>whatsup-361a7</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-361a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78134388789:ios:6b97ff1e32f6c0d592297c</string>
</dict>
</plist>